
.app {
    width: 100%;
    margin: 0 auto;
}

body {
    font-size: 16px;
    line-height: 16px;
    font-family: Montserrat, Roboto, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: #000000;
    font-weight: 500;
    // padding: 20px;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    border: none;
    outline: none;
    color: #1f1f1f;
    font-size: 16px;
    font-family: Montserrat, Roboto, sans-serif;
}

button {
    font-size: 16px;
    background: #000;
    border-radius: 25px;
    border: none;
    padding: 9px 20px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    color: #f4f1f1;
    transition-duration: 0.5s;
}


a {
    color: #000000;
    text-decoration: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}



.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.icon {
    width: 16px;
    height: 16px;
}

// section {
//     background: var(--dark);
//     border-radius: 6px;
// }



h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}


input {
    padding: 0;
}

