.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px 0;

    button {
        background: none;
        border: 1px solid #cccbcb;
        color: #000000;
        border-radius: 25px;
        width: 210px;
        height: 52px;
        margin-top: 36px;

    }

    .list {
        margin-top: 24px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .title {
        font-weight: 900;
        font-size: 48px;
    }

    .product {
        overflow: hidden;
        width: calc(100% / 4 - 20px);

        .image {
            border-radius: 20px;
            width: 100%;
            height: 298px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 70% auto;
            background-color: #F0EEED;
        }

        .wrapper {
            padding: 12px;
            display: flex;
            flex-direction: column;
            height: calc(100% - 410px);

            .subtitle {
                font-weight: 600;
                font-size: 20px;
                line-height: 18px;
            }

            .score {
                margin-top: 8px;
            }

            .info {
                display: flex;
                font-size: 24px;
                font-weight: 600;
                margin-top: 8px;

                .price {
                    margin-right: 10px;
                }

                .oldPrice {
                    opacity: 0.6;
                }
            }
        }

        
    }
}